h1 {
  font-size: 2.5em; /* 40px/16=2.5em */
}

h2 {
  font-size: 1.875em; /* 30px/16=1.875em */
}

h3 {
  color: #aaed6e;
}

p {
  font-size: 0.875em; /* 14px/16=0.875em */
}

.text {
  font-size: 0.75em;
  font-style: italic;
  text-align: center;
  align-content: center;
  width: 95%;
}

form {
width: 100%;
font-size: 3vh;
margin: 0 auto;
}

label, input {
  /* in order to define widths */
  display: inline-block;
}

label {
  width: 30%;
  /* positions the label text beside the input */
  text-align: right;
  color: #aaed6e;
}

label + input {
  width: 50%;
  line-height: 2;
  vertical-align: middle;
  /* large margin-right to force the next element to the new-line
      and margin-left to create a gutter between the label and input */
  margin: 0 10% 0 4%;
}

label + textarea {
  display: inline-block;
  width: 50%;
  line-height: 2;
  vertical-align: top;
  /* large margin-right to force the next element to the new-line
      and margin-left to create a gutter between the label and input */
  margin: 0 10% 0 4%;
}

.submitBtn {
  width: 85%;
  background-color: #7b4740;
  border-color: #aaed6e;
  color: #aaed6e;
}

.error {
  font-size: .5em;
  font-style: italic;
  color: red;
}

.jumbotron {
  background-color: #5e503d;
}