<div class='title'>Liberty Con Artists</div>
<div *ngIf="artists" id="artists">
  <mat-accordion>
    <mat-expansion-panel class="accordionBtn" *ngFor="let val of artists"
      style="margin-left: auto; margin-right: auto;">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{val.name}}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <button type="button" class="btn" style="width: 100%;">
        <b>Date:</b>&nbsp;{{val.date}}
        <br />
        <b>Time:</b>&nbsp;{{val.time}}
        <br />
        <div style="border: 1px solid black;" [innerHTML]="val.desc"></div>
        <div>
          <button type="button" class="btn" style="width: 75%;" (click)="favoriteToggle()">
            <i class="material-icons" [ngClass]="val.favorite ? 'favIcon' : 'favIcon2'">grade</i>
            {{val.favorite}}
            Add To My List
          </button>
        </div>
      </button>
    </mat-expansion-panel>
  </mat-accordion>
</div>