<div class='title'> My Event List
  <button type="button" class="btn feedbackIcon" (click)="clearList()">
    <i class="material-icons" style="font-size:30px;color:#aaed6e;">highlight_off</i>
  </button>
</div>

<div *ngIf="favorites" id="favorites">
  <mat-accordion>
    <mat-expansion-panel class="accordionBtn" *ngFor="let fav of favorites, index as f"
      style="margin-left: auto; margin-right: auto; background: #5e503d;">
      <mat-expansion-panel-header style="background: #5e503d;">
        <mat-panel-title style="color:#aaed6e;">
          <b>{{fav.name}}</b>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <button type="button" class="btn" style="width: 100%; color:#b1f562;">
        <b>Location:</b>&nbsp;<span style="color: #fffecb">{{fav.loc}}</span>
        <br />
        <b>Date:</b>&nbsp;<span style="color: #fffecb">{{fav.date}}</span>
        <br />
        <b>Time:</b>&nbsp;<span style="color: #fffecb">{{fav.time}}</span>
        <br />
        <div>
          <button type="button" class="btn deleteIcon" (click)="removeFavorite(f)">
            <i class="material-icons" style="font-size:30px;color:#aaed6e;">delete_outline</i>
          </button>
          <button type="button" class="btn feedbackIcon" (click)="eventFeedback(f)">
            <i class="material-icons" style="font-size:30px;color:#aaed6e;">feedback</i>
          </button>
        </div>
      </button>
    </mat-expansion-panel>
  </mat-accordion>
</div>
<div *ngIf="favorites.length === 0">
  <p>Please add some Artists, Authors, Scientists, Events, drawings, clip art, something...</p>
  <p>Man this is a boring page...</p>
  <p>You should choose stuff to attend... just sayin'</p>
</div>