.center-v {
  margin-top: auto;
  margin-bottom: auto;
}
.rotateimg180 {
    -webkit-transform:rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  
.map-body {

    /* background-image: url("../../assets/img/LC32_Map.JPG"); */
    /* Set rules to fill background */
    min-height: 100%;

    /* Set up proportionate scaling */
    width: 100vmin;
    height: 100vmin;

    /* Set up positioning */
   /*  position: fixed;
    top: 0;
    left: 0; */
}