<div style="text-align:center">
  <h4>
    Welcome to {{ title }}!
  </h4>
  <img width="98%" alt="LibCon32" src="../assets/img/LibCon32Splash.png">
</div>
<span>
  <div>
    <p>
      <a href="http://www.libertycon.org" target="_blank">Visit Liberty Con Website</a>
    </p>
  </div>
</span>
<span>
  Follow Us:
</span>
<a href="https://www.facebook.com/LibertyCon" target="_top">
  <img src="./assets/img/facebook_icon.png" style="vertical-align: middle;margin-left: 10px;margin-right:10px;" />
</a>
<a href="https://twitter.com/LibertyConTN" target="_top">
  <img src="./assets/img/twitter_icon.png" style="vertical-align: middle;" />
</a>