.companyName{
  font-size: 125%;
  align-content: center;
}

.mat-toolbar{
  height: 6vh;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1000;
}

.mat-toolbar.mat-primary {
  background: #454938;
  color: #aaed6e;
}

div {
  overflow: inherit;
}

.mat-sidenav-container{
  background-color: #b0a286;
  min-height: 93vh !important;
}

.mat-sidenav{
  background-color:  #efe5d5;
  min-height: 93vh !important;
}

a{
  text-decoration: none;
  font-size: 110%;
  white-space: normal;
}

button{
  font-size: 110%;
  min-width: min-content;
}

.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

.mat-sidenav-content{
  font-size: 200%;
  text-align: center;
}

.title {
  height: 90px;
  line-height: 90px;
  text-align: center;
}

.body {
  font-size: .75em;
}