<head>
  <meta charset="utf-8">
  <title>LibertyCon 32</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>

<div>
  <mat-toolbar color="primary">
    <div fxShow="true" fxHide.gt-sm="true">
      <button mat-icon-button (click)="sidenav.toggle()">
        <i class="material-icons">menu</i>
      </button>
    </div>
    <span class="example-spacer"></span>
    <span routerLink="/"><b>{{title}}</b></span>
  </mat-toolbar>
  <mat-sidenav-container fxFlexFill class="example-container">
    <mat-sidenav color="primary" #sidenav fxLayout="column" mode="over" opened="false" fxHide.gt-sm="true"
      (click)="sidenav.toggle()">
      <div fxLayout="column">
        <a mat-button routerLink="/">Home</a>
        <a mat-button routerLink="/Map">Event Map</a>
        <a mat-button routerLink="/Schedule">Schedule</a>
        <a mat-button routerLink="/GOH">GOH</a>
        <a mat-button routerLink="/Authors">Authors</a>
        <a mat-button routerLink="/Artists">Artists</a>
        <a mat-button routerLink="/Scientists">Scientists</a>
        <a mat-button routerLink="/Publishers">Publishers</a>
        <a mat-button routerLink="/Editors">Editors</a>
        <a mat-button routerLink="/Professionals">Professionals</a>
        <a mat-button routerLink="/FanGuests">Fan Guests</a>
        <a mat-button routerLink="/Performers">Performers</a>
        <a mat-button routerLink="/EventList">My List</a>
        <a mat-button routerLink="/ContactUs">Contact Us</a>
        <a mat-button routerLink="/Credits">Credits</a>
      </div>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>