<head>
  <meta charset="utf-8">
  <title>LibertyCon3</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="LibCon32" src="../assets/img/LibCon3Splash.png">
</div>
<span>
  <div>
    <h2><a target="_blank" rel="noopener" href="#" style='align-content: center'>Visit Liberty Con Website</a></h2>
  </div>
</span>
<!-- selector from app.component.ts -->
<nav mat-tab-nav-bar>
  <a mat-tab-link *ngFor='let link of navLinks' [routerLink]='link.link' routerLinkActive #rla='routerLinkActive'
    [active]='rla.isActive'> {{ link.label }}
  </a>
</nav>
<router-outlet></router-outlet>